
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:visible;

}
.board{
    border: #fff8f0 solid 5px;
    margin-top: 10px;
    height: auto;
    width: 500px;
    background-color: #6efafb;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1d3354;
    color:#fff8f0
}

#gameboard{
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap: 10px;
    padding: 5px; 
}
.tile{
    background-color:#9ed8db;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: cursive;
    cursor: pointer;
}
.tile:hover{
    cursor: pointer;
    background-color:#6efafb;
}
button{
    cursor: pointer;
    background-color: #1d3354;
    border: none;
}
